<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>%s</title>
<link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Libre%%20Franklin' rel='stylesheet' type='text/css'>

<style>
body
{
    font-size: 16px;
    font-family: sans-serif;
    line-height: 21px;
    font-weight: 500;
}

pre
{
    background: #eef;
}

.container
{
    width: 800px;
    margin: 0 auto;
}
header
{
    margin-bottom: 50px;
}

.entry
{
    margin-bottom: 10px
}
.meta
{
    color: #999;
    margin-right: 20px;
}
</style>

</head>

<body>

<div class="container">
    <header>
        <a href="/">Index</a>
    </header>
