h1,h2 {
    margin: 0;
}

body {
    font-family: Menlo, Consolas, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif;
    font-size: 14px;
    line-height: 1.4em;
    background-color: #ffffff;
    color: #2b2b2b;
}

img {
    max-width: 100%;
}

pre {
    font-family: monospace;
    background-color: rgb(246, 248, 250);
    padding: 16px;
    border-radius: 6px;
    line-height: 1.45;
}

a {
    background: transparent;
    color: rgb(33, 144, 211);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    width: 800px;
    margin: 0 auto;
}

header {
    overflow: hidden;
    margin-bottom: 30px;
}

header a {
    padding: 12px;
}

.entry {
    margin-bottom: 10px
}

.meta {
    color: #999;
    margin-right: 20px;
}

h1.title,
h2.description {
    margin-bottom: 30px;
}
